<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA Compatible" content="ie=edge">
    <title>Oregon Crash Map</title>
    <!-- leaflet stylesheet -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- link to our css stylesheet -->
    <!-- <link rel='stylesheet' type='text/css' href="static/css/map.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
    <!-- link to our javascript -->
    <!-- <script src="{{ url_for('static', filename='js/map.js') }}" type="module"></script> -->
</head>
<body>
    <div id="map"></div>
    <!-- leaflet script -->
    <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script> -->
    <!-- D3 script -->
    <!-- <script src="https://d3js.org/d3.v7.min.js"></script> -->
    <!-- link to our javascript -->
    <!-- <script src='http://127.0.0.1:5000/api/v1.0/crash_map'></script> -->
    <!-- <script type='text/javascript' filename='../js/map_app_js.js'></script> -->
    <!-- <script type='text/javascript' src='js/map_app_js.js'></script> -->
    <!-- <script src='{{ url_for("static", filename='.js/map_app_js.js') }}></script> -->
    <script src="{{ url_for('static', filename='js/map.js') }}" type="module"></script>
</body>